[2015-10-09 13:38] o-jasper opened #1 "caniuse"
So that line to something like "query caniuse.com if browser supports something"? As-is the line doesnt provide a little description.

[2015-10-09 15:37] aharris88 commented on #1
I'm not quite sure what you're saying... Where are you quoting that from? In my list it just says:

    caniuse-cmd- Caniuse command line tool

[2015-10-09 20:35] o-jasper commented on #1
Oh i just mean is that the description doesnt give any information, realy. Suggest:

    caniuse-cmd- queries caniuse.com about browser support of feature

[2015-10-09 20:52] aharris88 commented on #1
Oh yeah, I've just been grabbing the description from the original repo. Good point though.

[2015-10-24 20:39] greensn0w opened #7 "Add this list to sindresorhus/awesome"
You should add this list to [**_sindresorhus/awesome_**](https://github.com/sindresorhus/awesome), so more people can find it :+1:

[2015-10-25 00:42] aharris88 commented on #7
I added a pull request: https://github.com/sindresorhus/awesome/pull/379

[2015-10-25 17:31] danyshaanan opened #11 "cli-mandelbrot"
If you are not only into useful stuff, and [cli-mandelbrot](https://github.com/danyshaanan/cli-mandelbrot) is awesome enough to be in the list, I'll create a pull request...

[2015-10-25 22:08] aharris88 commented on #11
I checked it out and that's really cool! I'm trying to think what category it would be in. Maybe just make a new category right before Other called Fun.

[2015-10-26 08:17] #11 closed

[2015-10-26 15:07] agarrharr opened #14 "Organize Categories Better"
I've got so many things in the Other category, that it's time to start breaking things out into better categories. Let me know if you have any ideas.

[2015-11-06 19:50] #1 closed

[2015-11-06 20:01] aharris88 commented on #7
I closed the pull request until this list is really awesome. This is what I think we should do before adding it to [_sindresorhus/awesome_](https://github.com/sindresorhus/awesome).

- [] Add a license
- [] Make sure all apps are awesome
- [] Organize better (#14)
- [] Make sure this list is distinguished from https://github.com/alebcay/awesome-shell
- [] Add a link at the bottom to more awesome l

[2015-11-08 15:36] agarrharr opened #21 "Check out Command-line Apps on Awesome Node.js"
https://github.com/sindresorhus/awesome-nodejs#command-line-apps

[2015-11-09 00:56] herrbischoff commented on #21
Since you probably got inspired to add this issue due to my pull request at the Awesome list, I just wanted to let you know that you are of course free to take anything from my list https://github.com/herrbischoff/awesome-command-line-apps. This is all free culture licensed after all. I feel that our lists may have quite different approaches — in scope as well as update frequency. It doesn't matte

[2015-11-09 01:42] aharris88 commented on #21
Thanks for reaching out. I don't want for there to any hard feelings. I just really like command line apps and I wanted an awesome list.

[2015-11-09 01:52] herrbischoff commented on #21
Same here. Let me know if you're open to restructuring, which would open up the possibility of joining the lists. We could possibly even find a way to weigh each list a little differently so both can reasonably exist as complementing each other instead of duplicating certain content. Just a shooting-from-the-hip idea.

[2015-11-09 01:59] aharris88 commented on #21
Yeah, I'm totally open to restructuring. My list just grew naturally as I discovered cli-apps and my "Other" category just kept growing. If you want to keep separate lists, how do you think we could distinguish our lists from one another?

[2015-11-09 02:24] herrbischoff commented on #21
Let me sleep over that idea. Like I said, it was just a quick thought. Maybe one could be more development-focussed and the other more on the general use side. Or we'll simply find out that in the end merging both lists into one humongous one is the best course of action. I'm sure we will figure out how to proceed.

In any case, I feel that your list would benefit from a group-up restructuring, si

[2015-11-09 14:39] mischah commented on #21
Sorry for Highjacking this issue.

But this seems the right place for a final statement because I feel a bit offended by some worts within this thread:

Mhmm. I think someone got me wrong.

@herrbischoff
I hope you let me clarify the follwing:
It seems that you feel that I’m have anything against you or your contributions to the »awesome list thing«. That is not the case.

I was a bit disappointed

[2015-11-09 14:41] mischah commented on #21
@aharris88

That’s a good statement :sparkling_heart:

[2015-11-09 14:45] mischah commented on #21
@herrbischoff

After rereading my comments in other threads. I must admit that I have choosen the wrong words and you could also say that I was offending.

I’m sorry for that :pensive:

[2015-12-26 21:00] #7 closed

[2016-10-04 16:28] agarrharr opened #71 "Add stuff from ideas.txt"
I could use some help going through the [ideas.txt](https://github.com/aharris88/awesome-cli-apps/blob/5c57efe8ec7726872fe9aa89f165767df1aecc23/ideas.txt) file and adding these to the readme (if they are awesome). Also, be sure to remove the item from `ideas.txt` once you've moved it into the readme.

[2016-10-04 16:55] oswalpalash commented on #71
Added some ones in PR : https://github.com/aharris88/awesome-cli-apps/pull/72

You could create an issue to list out more entries in ideas.txt? :dancing_men:

[2016-10-04 18:40] aharris88 commented on #71
Thanks! I would, but I actually just want to get rid of `ideas.txt`. I would rather have issues or pull requests for anything new.

[2016-10-04 19:00] oswalpalash commented on #71
That makes sense too.

[2017-01-04 20:13] agarrharr opened #82 "Add Release"
https://github.com/zeit/release

[2017-04-26 16:45] agarrharr opened #105 "Add an RSS Feed Reader"

[2017-04-26 16:55] agarrharr opened #106 "Make sure each cli app has an open source license"
If a cli app doesn't have a cli license, open an issue, asking them to add a license.

- [x] [rename-cli](https://github.com/aharris88/awesome-cli-apps/pull/99)
- [x] [open-pip-cli](https://github.com/albinekb/open-pip-cli/issues/9)
- [x] [caniuse-cmd](https://github.com/sgentle/caniuse-cmd/issues/17)
- [ ] [AutoScreenshotUploader](https://github.com/yask123/AutoScreenshotUploader/issues/4)
- [ ]

[2017-04-26 23:07] agarrharr opened #108 "Add more related awesome lists to "Other Awesome Lists" section"

[2017-04-28 08:43] remembertoremind commented on #105
Hi :) I guess you need help? So.. I installed Arch Linux as my first Linux dist ever. So I'm really learning a lot of new stuff and I really like your list.

RSS reader? I found Newsbeuter, and I really like it. Combine it with Podbeuter and mplayer = <3

[2017-04-28 08:50] remembertoremind opened #109 "Other stuff to add."
Okay :) So Github is quite new to me so I'm afraid to mess something up.

You should add Ranger Filemanager
http://ranger.nongnu.org/

Vim (didnt see it in your list?)
http://www.vim.org/

Latex in vim
https://github.com/lervag/vimtex

Sconsify (spotify cli) However libspotify has just been closed so not sure where this is heading.
https://github.com/fabiofalci/sconsify

[2017-04-28 14:58] agarrharr opened #110 "Add Chat Clients"

[2017-04-28 15:01] aharris88 commented on #109
Thanks. Welcome to Github.

I should definitely add ranger.

I can't believe I don't have vim or emacs.

You might want to suggest vimtex on this list: https://github.com/akrawchyk/awesome-vim

Let's leave off Sconsify though since libspotify isn't available for download.

Do you want to put in pull requests for any of these? Vim and emacs can be in the same pull request. If not, I can.

[2017-04-28 15:02] aharris88 commented on #105
That looks great! Do you want to put in a pull request?

[2017-04-28 16:49] remembertoremind commented on #105
I would love to but I have no idea of how :) Or.. I would have to learn how to first.

[2017-04-28 16:53] remembertoremind commented on #109
Thank you :)

Yeah! Ranger is awesome. You should give look at the videos from Luke Smith on youtube:
https://www.youtube.com/watch?v=nlolvAVqn10&t

Yeah its a real bummer with Sconsify but AFAIK they are working on some web api instead which would be awesome.

Sadly I'm a hardcore newb at github so I don't know how to make pull requests :) However I'll be back if i find other cool applications fo

[2017-04-28 16:56] remembertoremind commented on #110
Oh.. Yeah well :) Me again.

Finch is pretty cool. But facebook has closed down the facebook messenger part of it. But the rest works.
https://bhavyanshu.me/tutorials/use-fbgtalk-chat-using-terminal-console/12/07/2013

And irssi of course <3
https://github.com/irssi/irssi

[2017-04-28 21:50] aharris88 commented on #105
Cool. This would be a great first project to contribute to. It's as easy as [going to the file you want to change](https://github.com/aharris88/awesome-cli-apps/blob/master/README.md) and clicking the pencil icon.

[2017-04-29 07:42] remembertoremind commented on #105
Okay :) I took the leap and have made my first change. I hope I haven't messed anything up. Thank you for the encouragement.

[2017-05-27 17:54] Moshe-Immerman commented on #14
would you be open to large re-org?  e.g.  alphabetise links, re-order / re-name categories?

[2017-06-05 20:01] agarrharr opened #126 "Get reddit posts for a given url"
It should find reddit posts for a given url across all subreddits. There should be an option to limit the search to a certain subreddit.

[2017-06-06 17:54] agarrharr opened #128 "Redesign logo"

[2017-07-11 21:50] agarrharr opened #132 "Add mdp"
https://github.com/visit1985/mdp

[2017-08-23 07:46] drselump14 opened #143 "ipt .. cli for pivotal tracker"
[ipt](https://github.com/drselump14/ipt)
the minimal client for interactive pivotal tracker CLI

[2017-08-23 07:46] #143 closed

[2017-09-14 17:11] mariuszs opened #148 "Add fishshell"

[2017-09-14 17:50] agarrharr commented on #148
Thanks for your interest, but I don't add shells to this list. It's just for apps that run in the command line.

[2017-09-14 17:50] #148 closed

[2017-11-16 17:52] bonds opened #157 "Remove 'movie' from the list"
According to the README, its broken and won't be fixed:

https://github.com/mayankchd/movie

[2017-11-22 23:23] sdemura opened #161 "Suggestions"
NCDu - https://dev.yorhel.nl/ncdu
Glances - https://nicolargo.github.io/glances/
Ripgrep - https://github.com/BurntSushi/ripgrep
Neofetch - https://github.com/dylanaraps/neofetch

[2017-11-25 14:21] vitalkanev opened #162 "BREAKING: Remove codesponsor banner"
http://mailchi.mp/f9b57b5ea377/code-sponsor-is-shutting-down-on-december-8

---

Note that I don't own this service - I got this link from main `awesome` repo

[2017-12-16 04:47] danieldeveloper001 opened #166 "[Suggestion] Spreadsheet Calculator - Productivity"
Hello, I would like to suggest a spreadsheet application for the productivity list.

[Spreadsheet Calculator](https://github.com/n-t-roff/sc) - A console curses based spreadsheet application.

https://en.wikipedia.org/wiki/Sc_(spreadsheet_calculator)

Regards.

[2018-01-12 22:15] agarrharr commented on #162
Closed by https://github.com/agarrharr/awesome-cli-apps/pull/172

[2018-01-12 22:15] #162 closed

[2018-02-01 22:09] xxczaki commented on #157
I submitted a [PR](https://github.com/mayankchd/movie/pull/5) to make this module work again, but idk if the owner is still interested in it.

[2018-02-02 16:37] agarrharr commented on #157
That would be nice. Great work! 👍

[2018-02-02 22:32] simeg opened #185 "Add CI to verify validity of links"
Having broken links sucks, and what sucks even more is manually going through all the links to check if anyone of them are dead. I propose adding CI (like Travis CI) in a separate branch/repo that is configured to run a script every 24 hours.

This script would parse out all the http links and cURL them one by one. If anyone of them respond with a `5xx` it would fail. This repo could then show a b

[2018-02-05 15:44] agarrharr commented on #185
I would love that. Could you submit a PR?

[2018-02-05 22:10] simeg commented on #185
I could, but first we would need to agree on where to put it. Having a separate branch sounds tedious to me, a separate repo sounds better. What do you think? It makes sense for it to live on your account no matter the approach.

If you think a separate repo sounds ok you can create one and I'll submit a PR.

[2018-02-05 22:17] agarrharr commented on #185
Having a separate repo seems a little odd to me. What would be tedious about a branch?

What might be even better is just having a Github bot that submits a pull request if it finds a broken link. Then this could be used for many different projects. I wonder if this exists already...

[2018-02-05 22:20] agarrharr commented on #185
It looks like this may already be doing this for every repo on GitHub: https://github.com/evuez/github-links-checker.

[2018-02-05 22:26] simeg commented on #185
My experience is that it's easier to accidentally merge branches that should not be merged than repos.

Yeah, a bot that does PRs that automatically removes broken links _would_ be even better. I have no experience writing bots for GitHub though but I have a script ready to go for my proposal.

That python bot looks ok, but latest issue is from 2015 so I'm guessing it's not running anymore. Or may

[2018-02-05 22:35] agarrharr commented on #185
Ok, cool, here it is: https://github.com/agarrharr/awesome-cli-apps-link-checker

[2018-02-05 22:38] simeg commented on #185
Ok cool! I just updated my comment suggesting to do it in a branch, I'll leave that decision up to you :) I'm fine with whatever.

Going to bed now so just let me know what you think is best and I'll create a PR when it's done. If you go with the repo maybe it could be donw in such a way that it checks for all of your list repos? I noticed you have several.

[2018-02-05 22:43] agarrharr commented on #185
Yeah, let's go ahead and do it in a separate repo. It would be nice to check all my list repos.

https://github.com/agarrharr/awesome-link-checker

[2018-03-13 14:10] elhenro opened #187 "add Telegram-cli"
https://github.com/vysheng/tg

[2018-03-13 17:15] agarrharr commented on #185
@simeg ping! Do you still have that script ready?

[2018-03-18 16:53] simeg commented on #185
Hey @agarrharr. Been busy lately with IRL stuff but been meaning to fix this. Will try to get it done soon.

[2018-05-07 15:25] julenpardo opened #205 "Add fzf"
[fzf](https://github.com/junegunn/fzf) - Fuzzy finder for the command line.

[2018-05-07 17:53] simeg commented on #185
Still have this on my TODO list. Been busy with IRL stuff (as you can tell from my commit history) but I intend to complete this soon. Sorry for the delay.

[2018-07-29 17:53] tobimensch opened #223 "Add browsh"
Browsh brings the mature rendering engine of firefox to the terminal.

https://github.com/browsh-org/browsh
http://brow.sh

[2018-11-01 11:04] Nikronic commented on #157
The API key no longer works. It is paid service now so it won't work again. Please remove **movie**

[2018-11-19 18:27] ovk opened #242 "Add Vifm"
https://github.com/vifm/vifm

[2018-11-19 19:42] agarrharr commented on #242
Yeah, that look awesome.

[2019-01-09 20:05] agarrharr opened #247 "Looking for new maintainers"
I haven't had the time/interest to work on this lately. If anyone else is interested in working on this, let me know.

[2019-01-18 03:08] jamesgeorge007 commented on #247
@agarrharr I would like to work on this :+1:

[2019-01-18 04:52] agarrharr commented on #247
Sounds good. I sent you an invite.

[2019-01-18 22:30] onehungrygeek commented on #247
@agarrharr Sure, I can help maintain this :100:

[2019-01-22 15:11] jamesgeorge007 commented on #247
@agarrharr It seems that I haven't received an invitation yet :thinking:

[2019-01-22 15:49] agarrharr commented on #247
https://github.com/agarrharr/awesome-cli-apps/invitations

[2019-01-22 17:11] chrismullins commented on #247
Happy to help!

[2019-01-23 00:43] guangrei commented on #247
me, i have follow/watch this repository for a long time :)

[2019-01-23 12:20] simonszu opened #251 "Add hollywood"
If there are tools like cowsay and lolcat, then definitely sl and hollywood are missing.

[2019-01-24 08:09] Cackbone opened #252 "Add bat"
https://github.com/sharkdp/bat

[2019-01-24 23:49] lfromanini opened #253 "Add omz-hist"
Can you please add my Zsh history plugin to your list if you think it deserves?
https://github.com/lfromanini/omz-hist

Thanks in advance!

[2019-01-27 23:04] darrikonn opened #254 "Add td-cli"
https://github.com/darrikonn/td-cli

In productivity

[2019-02-05 04:57] alexwennerberg opened #256 "Add AGM"
Hey team! I put together a command line interface for Google's APIs: https://github.com/Cloudbakers/agm I'd be honored to be included in this list!

[2019-02-27 00:12] sjclayton commented on #247
Would also love to help maintain this! :grinning:

[2019-02-27 22:41] nighthawk9 opened #261 "Add lsd"
https://github.com/Peltoche/lsd

[2019-03-01 04:36] sjclayton commented on #242
Done -- 307be69d1b4d4fb7979eaa5be82d6a9

[2019-03-01 04:36] #242 closed

[2019-03-01 04:40] sjclayton commented on #261
Feel free to submit a pull request to have this added to the appropriate category! :grin:

[2019-03-01 04:44] sjclayton commented on #251
Feel free to submit a pull request and your additions will be reviewed, thanks!

[2019-03-01 04:54] sjclayton commented on #205
Feel free to submit a pull request to have your addition reviewed. :grin:

[2019-03-01 07:35] sjclayton commented on #252
Feel free to submit a pull request to have your addition reviewed. :grin:

[2019-03-01 13:48] #252 closed

[2019-03-02 06:05] #132 closed

[2019-03-02 06:12] #109 closed

[2019-03-02 06:47] sjclayton opened #264 "Create Pull Request Template"

[2019-03-02 12:36] sjclayton commented on #157
So should / can this be closed now, since it would appear it's been updated and is now working again..?

[2019-03-02 13:10] sjclayton commented on #161
Done -- Added NCDu, Glances and ripgrep..

Also Glances is awesome, and should definitely be on this list. I use it myself! :smile:

[2019-03-02 13:10] #161 closed

[2019-03-03 09:45] sjclayton commented on #205
Done!! :smile:

[2019-03-03 09:45] #205 closed

[2019-03-04 06:10] nighthawk9 commented on #261
Will submit the pull request soon

[2019-03-05 06:20] sjclayton commented on #185
Closing this, since it appears to be up and running now.

[2019-03-05 06:20] #185 closed

[2019-03-05 06:49] sjclayton commented on #223
Feel free to submit a pull request to have this reviewed and added to the appropriate section. :smile:

[2019-03-05 06:50] sjclayton commented on #187
Feel free to submit a pull request to have this reviewed and added to the appropriate section. :smile:

[2019-03-05 06:59] sjclayton commented on #253
First of all, thank you for your submission / contribution. :+1:

I think we'll be passing on this one for now, we can't add every app to the list as it is a curated list of apps.

I encourage you to try submitting this to [awesome-zsh-plugins](https://github.com/unixorn/awesome-zsh-plugins).

Good luck!!

[2019-03-05 06:59] #253 closed

[2019-03-05 14:58] elhenro commented on #187
@sjclayton  you could consider adding the [contributing section](https://github.com/agarrharr/awesome-cli-apps/blob/master/contributing.md) to the readme, so it wouldn't be necessary to repeat your PR reminder 👍

[2019-03-05 14:58] #187 closed

[2019-03-06 13:41] jneidel commented on #247
I'd be interested in helping as well!

[2019-03-06 19:27] jneidel commented on #264
I was thinking the same thing. Too many PR without any or too little context.

My suggestion:

[code]

Based on [nodes template](https://raw.githubusercontent.com/nodejs/node/master/.github/PULL_REQUEST_TEMPLATE.md)

[2019-03-06 19:58] jneidel opened #267 "Create issues/PRs for clis on ideas.txt"
Create a issue or PR (prefer PR) for every entry in [ideas.txt](https://github.com/agarrharr/awesome-cli-apps/blob/master/ideas.txt).

This will make it easier to review the entries. Right now it's hard to discuss whenever or not one of them is worth merging.

After creating the clis as issues/PRs remove them from the ideas.txt.

[2019-03-06 19:59] jneidel commented on #71
Closed in favor of #267

[2019-03-06 19:59] #71 closed

[2019-03-06 20:01] jneidel commented on #128
Is this still relevant? I think the logo is fine as is.

[2019-03-06 21:17] jneidel opened #269 "Add JSON subcategory"
There are a few different clis that deal with handling/manipulating JSON.
We could merge them into their own subcategory. Maybe under Data Manipulation or Development.

clis:
- vj
- jq
- jp
- fx
- strip-json-comments-cli

[2019-03-06 21:33] jneidel opened #270 "Add Check Name subcategory"
There are 2+ clis for checking whenever a name is available. These could be grouped into their own subcategory.

I'm not too sure on the name of subcategory.

clis (havn't checked all):
- npm-name-cli
- bower-name-cli
- is-trademarked-cli (from ideas.txt)

[2019-03-06 21:35] jneidel opened #271 "Add Speed Test subcategory"
There are 3 clis in Other, that are all related to speedtest.net. We could group these into a subcategory of Other.

clis:
- speedtest-net
- speed-test
- speedtest-cli

[2019-03-06 22:07] jneidel opened #272 "What about clis that are only relevant to very few people"
The purpose of this is to start a discussion, not exclude what is not relevant to me.

I'm talking about clis like [google-wifi-status](https://github.com/joelgeorgev/google-wifi-status) or the blockchain tools of #212.
And I mean few, as in compared to 100% of people that look at this repo.

Should every suggested clis be added as long as it matches the requirements, no matter how irrelevant it m

[2019-03-07 00:00] jneidel commented on #261
Personally it only adds something on `lsd -l`, as the permissions are colored.
Other than that, the icons just clutter your ui and the colors are almost the same as with regular ls. In total, for me, it's detracting from the overall experience.

[2019-03-07 01:06] agarrharr commented on #272
I was originally going to try to keep it focused on cli tools that are full-fledged apps, like apps that are time-trackers, evernote clients, twitter clients, email clients, rss readers, accounting apps, etc. But it has grown beyond this with utilities, data manipulation, and file/directory tools.

I generally try to not include cli tools that require some programming to use, or that are too devel

[2019-03-07 01:25] nighthawk9 commented on #272
I for one enjoy seeing all the command line applications regardless of the size of the user base. Finding niche applications is often quite hard if it is not well known. I go to awesome lists to find ALL the utilities related to what I'm trying accomplish or do.

[2019-03-07 04:08] sjclayton commented on #128
@jneidel I would tend to agree.

[2019-03-07 04:42] sjclayton commented on #14
@jneidel @agarrharr Closing this-  Since I think it'd be easier to discuss category reorganization, the creation of new categories / subcategories on an individual basis.

[2019-03-07 04:42] #14 closed

[2019-03-07 04:45] sjclayton commented on #269
@jneidel I agree anything related to JSON manipulation / working with JSON should go in a subcategory named **JSON** under Data Manipulation.

Then any other non JSON related CLI apps that are Data Manipulation related can just live under the parent category for now, until we have enough of a certain type to split them.

[2019-03-07 05:09] sjclayton commented on #271
I was thinking about the potential to create a **Network Utilities** subcategory under **Utilities** for this... let me know what you think.

[2019-03-07 05:20] sjclayton commented on #264
I was thinking of something a bit more in-depth, but not sure exactly what that would entail entirely.

At any rate whatever we do come up with needs to have YAML front matter that automatically adds the label **needs review** to any new pull request.. as it will assist with identifying new PR's faster, as well as in trying to establish a new system based on the labels **pending**, **needs review*

[2019-03-07 05:25] sjclayton commented on #261
@jneidel We can't be too personally subjective with what we think should / shouldn't be added to the list..

As if that were the case, in my instance at least the list would be a lot smaller than it is... :stuck_out_tongue:

[2019-03-07 09:34] jneidel commented on #271
Yeah, that better.

Maybe than we can add these as well:
- get-port-cli
- is-reachable-cli

[2019-03-07 09:46] jneidel opened #274 "Add Release subcategory"
There are a few clis related to releasing new version, which could be grouped.

- release-it
- clog
- #217
- #82

As **Release** under **Development**

[2019-03-07 10:09] #264 closed

[2019-03-07 10:17] sjclayton commented on #271
I think each potential entry for the new  subcategory should be double checked to make sure it fits..

The 2 you suggested seem to be prime examples though. :grin:

[2019-03-07 10:20] #269 closed

[2019-03-07 10:24] sjclayton commented on #274
Looks good!! :100:

[2019-03-07 10:47] jneidel commented on #274
@sjclayton do you want me to directly implement this, or should I open a PR for every subcategory?

[2019-03-07 11:37] sjclayton commented on #274
@jneidel I would prefer to do it through separate PR's... although I have done some reorganization directly in the past few days.

[2019-03-07 11:49] sjclayton commented on #267
Would prefer PR's for this as well... Issues should be limited to things such as new category / subcategory suggestions, move requests (ie. changing the category of a particular CLI app), description updates, enhancements and other similar requests.

[2019-03-07 12:01] sjclayton commented on #270
I think we might hold off on this.. I don't think it would be feasible to add a subcategory for this... maybe if there were at least a couple more apps to go in it. I know there are already subcategories with only 2-3 apps.

I just don't know if creating one called **Check Name** would be understood or useful right now.

[2019-03-07 12:02] #274 closed

[2019-03-07 12:05] #271 closed

[2019-03-07 14:53] agarrharr commented on #128
Sounds good.

[2019-03-07 14:53] #128 closed

[2019-03-07 15:27] jneidel opened #280 "Move "Text Manipulation" category into "Data Manipulation" category"
Text Manipulation is a subset of Data Manipulation and as such could be moved into the Data Manipulation category.

New Data Manipulation category:
[code]

[2019-03-07 15:30] jneidel opened #281 "Move "Database" category into "Development" category"
Databases are a part of Development, as such it should be made visible in the TOC.

New Development category:
[code]

[2019-03-07 15:50] sjclayton commented on #280
Looks good! :100:

[2019-03-07 15:50] sjclayton commented on #281
Looks good! :100:

[2019-03-07 15:52] sjclayton opened #282 "Add new "Emoji" subcategory"
@sjclayton It doesn't really fit anywhere else, **Text Manipulation** or **Utilities** maybe being the closest to it.

Maybe we could open a **Writing** category of sort, where this would fit in as well.

_Originally posted by @jneidel in https://github.com/agarrharr/awesome-cli-apps/pull/229#issuecomment-470573043_

[2019-03-07 15:55] sjclayton commented on #282
I really don't know about this one.... I don't think it should go under **Text** in **Data Manipulation**

**Utilities** is a strong maybe..

[2019-03-07 16:25] sjclayton commented on #272
Personally, for me it's mainly about quality over quantity.

I would rather focus on keeping the list as high quality as possible... which, if that were the direction we headed towards, it would probably necessitate going through the list with a fine tooth comb and potentially removing quite a few of the entries.

But again, that's just my opnion...

[2019-03-07 16:44] jneidel commented on #272
I feel the same way.

But how do we define quality and how does the relevance (from the beginning of this issue) factor into it?

[2019-03-07 16:48] #280 closed

[2019-03-07 16:48] #281 closed

[2019-03-07 22:45] jneidel commented on #166
Hey @danieldeveloper001,
feel free to open a pull request adding `sc`, then we'll review your submission!

[2019-03-07 22:46] #82 closed

[2019-03-07 22:46] jneidel commented on #256
Hey @alexwennerberg,
feel free to open a pull request adding `agm`, after doing so we'll review the submission!

[2019-03-07 22:47] jneidel commented on #254
Hey @darrikonn,
feel free to add a pull request inserting `td`, then we'll review your submission!

[2019-03-07 23:07] jneidel opened #285 "Cleanup Entertainment category"
It's the first category everybody sees and the subcategory are well organized, but the first 6 entries are too varied and could rather be split up.

### New "Movie" subcategory in "Entertainment"

Move these into their own category:

- moviemon
- movie
- #196

### Move quote-cli

Move it into either **Just for Fun** or **Other**

### Move splash-cli

Move into **Images**

### Keep football-cli & p

[2019-03-08 09:44] jneidel commented on #254
Implemented at #287

[2019-03-08 09:44] #254 closed

[2019-03-08 12:03] #105 closed

[2019-03-08 12:25] sjclayton commented on #285
@jneidel

Yeah I agree, I think we should do something with this...

Move the first two to a **Movies** subcategory... I still haven't decided what to do with #196, if anything I think it might go under **Video** instead.

**quote-cli** should probably go under **Just for Fun**

Leave **splash-cli** for now as I am planning a new subcategory that it will fit into.

The last two can stay in **Enter

[2019-03-08 13:03] #282 closed

[2019-03-08 13:10] jneidel commented on #285
I personally only use subtitles for movies/series. And for most other media (eg. youtube) subtitles might not be consistently available.
I feel like it fits **Movie** better than the more general **Video**.

[2019-03-08 13:29] #157 closed

[2019-03-08 13:29] #251 closed

[2019-03-08 13:29] #256 closed

[2019-03-08 13:30] #261 closed

[2019-03-08 13:30] #223 closed

[2019-03-08 13:30] #166 closed

[2019-03-08 13:42] sjclayton opened #293 "Add link in header for "On Hold" PR's"
I think it might be a good idea to place a link at the top of the page somewhere that allows people to checkout apps that haven't made the list (ie. that currently have the label **On Hold**).

My thinking is that maybe it'll get those apps some love if they are actually **_awesome_**, and help us down the road in deciding whether or not they should be added at a later date.

What does everyone el

[2019-03-08 13:54] jneidel commented on #293
Seems like a good idea!

[Potential link](https://github.com/agarrharr/awesome-cli-apps/pulls?q=is%3Apr+is%3Aopen+sort%3Acreated-asc+label%3A"on+hold")

- Sorts from old to new

[2019-03-08 14:45] sjclayton commented on #293
Yeah I like it... I think I'm going to go ahead and do it...

Also more discussion is needed as per #272 regarding maybe setting up some guidelines for minimum requirements for a given app being accepted to be added to the list.

[2019-03-08 22:39] jneidel commented on #272
What do you think of a champion system, like [tc39](https://github.com/tc39/proposals)s, where somebody takes on a app that they like.
If we could somehow involve the community, maybe through some kind of voting, that would be great as well. Maybe give an app a timeframe of a week to either find a contributor to champion it or get voted in by the community.
I would apply this to apps that are curr

[2019-03-10 11:12] #285 closed

[2019-03-10 18:47] sjclayton commented on #270
@jneidel ping...

[2019-03-10 19:50] #293 closed

[2019-03-10 20:14] jneidel commented on #270
Still relevant, but maybe we can find a better name for the category.

[2019-03-10 20:15] jneidel commented on #270
Oh, it seems I missed your comment, sorry.
Let's revisit this later.

[2019-03-10 20:15] #270 closed

[2019-03-16 20:41] #110 closed

[2019-03-21 22:44] HumanJBooF commented on #247
I am interested if still needed!

[2019-04-03 17:41] non-descriptive opened #312 "Add lazygit"
https://github.com/jesseduffield/lazygit
nice tui for git

[2019-04-03 19:42] jneidel commented on #312
@non-descriptive Please reopen this as a PR adding the cli to the correct category.

[2019-04-03 19:42] #312 closed

[2019-05-07 20:42] paulrm commented on #247
Hello @agarrharr, I will very happy to help

[2019-05-07 21:08] capaldo commented on #247
I'm also interested in helping maintain as I'm constantly looking for new cli apps.

[2019-05-07 21:40] capaldo commented on #267
How would you want to go about this? I can start adding the PR's little by little then remove them from the ideas.txt if you guys are open to it.

[2019-05-08 09:49] jneidel commented on #267
@capaldo That would be perfect :smile::+1:

[2019-05-08 09:58] jneidel opened #320 "Clean out open PRs?"
I think we should remove all open pull requests that are on hold.

Nothing is happening there (no :+1: on any), they are awfully formatted and clutter the PR section.
I think just by having them we are discouraging people from adding new PRs.

And having them they there just show indecisiveness on our (maintainers) part, as putting these apps on hold is clearly a rejection but were not rejecting t

[2019-05-08 18:22] capaldo commented on #320
I agree. That way we can start from 0. Furthermore, even if a cli app doesn't have votes maybe we can just decide amongst ourselves if its a well-mantained/widely used/unique/etc cli application.

[2019-05-09 13:57] jneidel commented on #320
@sjclayton Are you on-board with this?

[2019-05-09 15:40] capaldo commented on #320
I've already removed old PR's from 2017 and some from early 2018. I looked at most of the repo's and they dont have activity for several years now. Sorry for jumping the gun.

[2019-05-09 20:28] jneidel commented on #320
@capaldo It's fine with me, I just wanted to get @sjclayton input, but he seems to be a little less active than before :smile:

[2019-05-10 08:25] nber1994 commented on #247
I am very willing to participate in this project, I have always been fascinated by this！

[2019-05-10 10:31] jneidel commented on #267
I've sorted and vetted the list, which should make it easier to create PRs from them.

[2019-05-10 17:30] capaldo commented on #126
Closing old issue. I looked into this but I did not find anything thats promising.

[2019-05-10 17:30] #126 closed

[2019-05-10 17:32] capaldo commented on #21
@jneidel A lot of these apps are already on the list after skimming over them. Wanted to see if its alright to close this as its almost 3+ years old.

[2019-05-10 17:33] capaldo commented on #106
@jneidel Same here. Looking to close this and we can re-open an issue with a full list if we decide to revisit/tackle this.

[2019-05-10 17:47] capaldo commented on #272
These are all great points. I think that if the community does not chime in, we can make that assessment ([via a poll maybe?](https://github.com/tj/gh-polls?ref=producthunt)) amongst ourselves and review just how active/useful a cli app is on a case-by-case basis.

Let me know what you guys think.

[2019-05-10 17:50] capaldo commented on #267
Since this is an ongoing effort and has been greatly improved can we close this or would you guys want to keep this open @jneidel @sjclayton

[2019-05-10 17:51] jneidel commented on #267
@capaldo I think we can close this once the list is gone. This way we know that it's still an issue.

[2019-05-10 17:53] #21 closed

[2019-05-10 17:54] #106 closed

[2019-05-10 18:02] jneidel commented on #108
How about:
- https://github.com/herrbischoff/awesome-command-line-apps#readme
- https://github.com/sindresorhus/awesome-nodejs#command-line-apps
- https://github.com/herrbischoff/awesome-macos-command-line#readme
- https://github.com/alebcay/awesome-shell#readme
- https://github.com/unixorn/awesome-zsh-plugins#readme
- https://github.com/k4m4/terminals-are-sexy#readme

*in no particular order*

[2019-05-10 18:05] capaldo commented on #108
I'll go ahead and add the additional ones now.

[2019-05-10 19:35] #108 closed

[2019-05-11 02:02] sjclayton commented on #320
@jneidel Sounds good to me!!

[2019-05-13 22:28] jneidel opened #330 "Check all apps for deprecation"
[I just removed](https://github.com/agarrharr/awesome-cli-apps/commit/07161b671874430ef2f53c062f27a509d58d5287) [bower-name-cli](https://github.com/sindresorhus/bower-name-cli), which was the first entry in web development, but has been deprecated for 6 months.

We might want to check all legacy cli and determine whether they are still:
- maintained
- relevant

[2019-05-13 22:49] jneidel commented on #330
Script to check if github repo for any of the apps in the readme is archived:

[code]

[2019-05-13 23:17] jneidel commented on #330
Or this version for parallel execution (100% cpu!):

[code]

[2019-06-03 18:00] StewAlexanderACC commented on #247
I might be able to help, nice to know others are too

[2019-06-03 18:03] StewAlexanderACC opened #333 "Windows CLI Apps?"
Can we as a community provide a few more Windows command line apps to this list, love the list but lets not forget that there is quite a few Windows command line apps out there too.

Not sure if Chocolatey is mentioned anywhere in this list, if it isn't I humbly suggest it should be.

[2019-06-03 18:05] StewAlexanderACC commented on #333
Did a search for Chocolatey, nope not in the list ...

It's the missing Windows package manager (there are a few others, but this is by far the most used one in my opinion)

[2019-06-03 19:15] jneidel commented on #333
You can open a PR if you want to add an app.

[2019-06-03 19:23] jneidel commented on #333
I don't think a big part of the community uses Windows, that's why there aren't many Windows specific apps.
I could imagine a Windows specific category ([like for macos](https://github.com/agarrharr/awesome-cli-apps#macos)) if there is interest for that.

I, personally, am against it, as Windows is proprietary bloat and people that use the command-line should know better than to use Windows (or ma

[2019-06-03 19:23] #333 closed

[2019-06-03 19:43] StewAlexanderACC commented on #333
I see it's a taste thing ...

Unfortunately Windows is still a HUGE player in the OS market, especially business / government, so although I agree with your opinion of Windows, people still need to get around in it while at work / school.

Say what you will about Macs, but they have popularized a type of BSD (Darwin) much better than say Solaris (and Oracle is getting into the patent troll busines

[2019-06-06 17:07] agarrharr commented on #247
There are a lot of collaborators now. It might be time to close this issue?

[2019-06-06 17:08] agarrharr opened #334 "Organization?"
Since I almost never contribute this list anymore, perhaps we should move this repo to an organization on GitHub? But it may be overkill to move one repo that's just a list to an organization. We can leave it under my name, but I just wanted to let everyone know that I'm open to moving it.

[2019-06-06 17:14] jneidel commented on #334
@agarrharr I think it's fine like this. Except for adding new maintainers we don't really need admin permissions :)

[2019-06-06 17:16] jneidel commented on #247
I think so too. We can always reopen if we feel the need for it

[2019-06-06 17:16] #247 closed

[2019-06-29 23:15] #334 closed

[2019-07-05 13:16] jneidel commented on #267
I'm moving the list here so that people won't add anything to it.

macos:
https://github.com/sindresorhus/term-img-cli
https://github.com/apaszke/termtile
https://github.com/sindresorhus/dark-mode

util:
https://github.com/dylang/space-hogs
https://github.com/egoist/is-trademarked-cli

json:
https://github.com/jpmens/jo

Note Taking and Lists:
https://github.com/coderofsalvation/kanban.bash

npm:

[2019-07-05 13:29] #320 closed

[2019-07-05 13:30] jneidel commented on #272
Closing as the discussion served it's purpose.

[2019-07-05 13:30] #272 closed

[2019-07-06 17:08] jneidel opened #340 "[Discussion] Active Maintainers?"
In the last two months only I committed to this project (which is fine by me).

But I wanted to check on all maintainers, see who is still active and who might want to get involved a little more (I can leave PRs open for you :smile:).

@sjclayton @capaldo @jamesgeorge007 @onehungrygeek @chrismullins @guangrei @HumanJBooF @paulrm @StewAlexanderACC

[2019-07-06 17:10] HumanJBooF commented on #340
Hey I totally want to get involved more, been super busy the last few weeks but I can start checking on this a lot more now for sure.

[2019-07-06 17:19] jneidel commented on #340
@HumanJBooF good to know :)

I cleaned up the open PRs yesterday so all open issues/PRs are relevant now.

If you have ideas of your own on how to make this repo better feel free to open an discussion issue or implement it in a PR.

If new PRs come in feel free to self-assign them. If you have any questions you can always tag (@) me :smile:

[2019-07-06 19:57] capaldo commented on #340
I just finished exams this past week so Ill be more active moving forward.

[2019-07-07 05:45] jamesgeorge007 commented on #340
:wave:

[2019-07-07 08:48] jneidel commented on #340
Hey @jamesgeorge007,

Same for you:

Just take initiative and I'll be there if you need help!

[2019-07-08 12:10] StewAlexanderACC commented on #340
So cool to see all the feedback, thank you

[2019-07-13 19:27] paulrm commented on #340
Great :+1:

[2019-07-13 19:41] jneidel commented on #340
So in conclusion:

@HumanJBooF @capaldo @jamesgeorge007 @StewAlexanderACC @paulrm, you are all (semi-)active and want to take part in maintaining this repo.

I'll try to assign incoming PR to you guys. And if it's your first one point out what to look for :grin:

[2019-07-13 19:41] #340 closed

[2019-07-20 19:17] capaldo commented on #267
Can we remove dark-mode? This can be accomplished with an alias to an AppleScript.

[2019-07-20 21:02] jneidel commented on #267
@capaldo there are a lot of utils already on the list that replicated as a simple bash scripts (adapted to my setup).
If we apply the 'can be done using a simple script' argument we'd have to vet the existing list as well.

And some people can't, or don't want to write those scripts themselves...

[2019-07-20 21:10] capaldo commented on #267
Ok thats understandable.

[2019-07-20 22:12] jneidel commented on #267
But maybe we can group them together in a specific category. Most of the ones I referenced above (battery-level, brightness, yank, screensaver) I moved to a new category in #344.

[2019-07-20 22:50] capaldo commented on #267
I was thinking dark mode to go under macOS since its unique to that.

[2019-07-21 09:52] jneidel commented on #267
That's were I would put it as well, I just wanted to reference what I wanted to do with similar apps.

[2019-07-28 18:18] capaldo commented on #267
Created a pull request for dark-mode.

[2019-07-30 15:41] capaldo opened #353 "Inconsistent todo capitalization"
Under the [Note Taking and Lists](https://github.com/agarrharr/awesome-cli-apps/tree/kanban.bash#note-taking-and-lists) section of the README, the "todo" all have variable capitalization. Can we agree on what capitalization to use (TODO or todo) so that I can go ahead and create a PR to fix it.

[2019-07-30 18:24] jneidel commented on #353
Makes sense, go ahead!

[2019-07-30 18:24] #353 closed

[2019-10-21 10:05] abhijithvijayan opened #369 "Add stargazed"
Node CLI that fetches GitHub stars of user and sorts it into a table by the Languages used.

https://github.com/abhijithvijayan/stargazed

[2019-10-21 12:49] jneidel commented on #369
Only PRs are accepted.
Feel free to create a PR and I'll have a lock at the cli.

[2019-10-21 12:49] #369 closed

[2019-11-28 17:09] itsyourOOP commented on #330
if it helps, rtv's not being maintained anymore.

tuir's a fork of rtv that's still alive, but it's on gitlab

[2019-11-28 18:33] jneidel commented on #330
@itsyourOOP  Thanks for the notice! Do you want to open a PR replacing rtv with tuir? :smile:

[2019-12-07 20:17] itsyourOOP commented on #330
sure

[2019-12-10 08:02] itsyourOOP commented on #330
it's been put in

[2020-06-13 02:13] ashtron opened #411 "Typo in Readme Graphic"
The graphic at the top of the readme says "Entertaiment" instead of "Entertainment."

[2020-06-13 08:15] rrmelcer opened #412 "jrnl"
I miss jrnl as note taking tool in the list. jrnl is a journaling tool for the CLI.
https://jrnl.sh/

[2020-07-25 12:32] jneidel commented on #411
How about:

![](https://user-images.githubusercontent.com/25589715/88457016-588e9b80-ce83-11ea-862a-bbba7e6aca98.png)

Edit at (bold & green text needs to be manually added):
https://carbon.now.sh/?bg=rgba(255%2C255%2C255%2C1)&t=vscode&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira%20Code&fs=14.5px&lh=133%25&si=false&es=2x&wm=false&code=%250A%2

[2020-07-25 12:33] jneidel commented on #412
If you wish to add an entry to the list, please open a PR.

[2020-07-25 12:33] #412 closed

[2020-07-26 02:24] ashtron commented on #411
Looks good to me!

[2021-03-05 16:49] SymphonySimper opened #444 "can you add ncspot to the list?"

[2021-03-06 17:08] Kentoseth opened #445 "Adding cmk"
Hello,

I would like to add my project: https://github.com/Kentoseth/cmk

But I am not sure which category it falls under. The description is:

Which category does my program fall under? I can open a PR once I have an idea where it fits best.

[2021-03-07 09:27] jneidel commented on #444
Please open a PR. Issues of this sort are not being considered.

[2021-03-07 09:27] #444 closed

[2021-03-07 09:40] jneidel commented on #445
It has too few stars anyway. But it would fall under [shell-utils](https://github.com/agarrharr/awesome-cli-apps#shell-utilities).

You didn't tell me what awesome about you app and I have some questions about it's usefulness (for me or the gen pop).

I rarely touch my history, `^r` at most.

I don't do either and I don't see the point to it.

[code]

I just have [a bunch](https://github.com/jneid

[2021-03-07 09:40] #445 closed

[2021-03-13 22:41] seb-mtl opened #446 "Add SnowFS"
Hi!

Are new projects welcome? I would like to propose a new project called SnowFS, especially since the project is looking for more contributors. It is focusing on version control for binary files and is written in TypeScript. https://github.com/Snowtrack/SnowFS
Does this look interesting for this list?

Thanks!

[2021-03-15 15:21] jneidel commented on #446
Sure, looks interesting.

Open a PR and add it under the [Version-Control](https://github.com/agarrharr/awesome-cli-apps#version-control) category.

[2021-03-15 15:21] #446 closed

[2021-03-15 15:22] jneidel commented on #446
Actually, please wait out the 90 days [our contrib guide](https://github.com/agarrharr/awesome-cli-apps/blob/master/contributing.md) calls for.
Then feel free to open the PR, even if the app is still in alpha status.

[2021-04-01 01:14] hchings opened #451 "Info on business model for cli apps"
Hi all, thanks for the great project.
It'd be great to add information about which CLI apps in the curation list have been monetized or have a proven business model.
It's totally understandable if the business aspect is not the purpose of this project.
If anyone knows where to effectively find such info, please share.

[2021-04-01 11:27] jneidel commented on #451
The business model behind an app is relevant to the decision to add it here (if there is one).

- [Example 1](https://github.com/agarrharr/awesome-cli-apps/pull/415#issuecomment-663847183)
- [Exampe 2: rejection](https://github.com/agarrharr/awesome-cli-apps/pull/442)

What would be a concise way to do this? What apps does it apply to?
Would [s3cmd](https://github.com/s3tools/s3cmd) fall into that

[2021-05-08 21:06] seb-mtl commented on #446
@jneidel Done! https://github.com/agarrharr/awesome-cli-apps/pull/459

[2021-05-14 03:00] ZacharyTalis opened #461 "No Docker link in Table of Contents [PR included]"
**Issue:** Currently, the `Table of Contents` doesn't link to the `Docker` section.

**Solution:** [Here's a handy-dandy PR for ya!](https://github.com/agarrharr/awesome-cli-apps/pull/460)

I'm submitting this Issue alongside the PR for contingency's sake.

[2021-05-14 22:03] #461 closed

[2021-05-23 18:30] #411 closed

[2021-08-18 10:43] mrHola21 opened #474 "Suggesion : Add Eterm to the list"
https://github.com/mrHola21/Eterm

[2021-10-01 08:42] #330 closed

[2021-12-05 19:34] acidrums4 opened #489 "Add vis"
#### New App Submission

- [x] I've read the [contribution guidelines](https://github.com/agarrharr/awesome-cli-apps/blob/master/contributing.md#readme).

**Repo or homepage link:** https://github.com/martanne/vis

**Description:** A vi-like editor based on Plan 9's structural regular expressions

**Why I think it's awesome:** It combines the best of vim and sam editors, plus cool stuff like multi

[2021-12-06 13:59] leo-arch opened #491 "Add CliFM"
[CliFM](https://github.com/leo-arch/clifm) is a file manager with a unique approach: unlike most terminal file managers out there, based on some kind of TUI, CliFM is entirely based on the command line.

[2021-12-06 16:47] jneidel commented on #491
duplicate of #486

[2021-12-06 16:47] #491 closed

[2021-12-07 06:57] jneidel opened #493 "Fix dead links"
see #492

[2021-12-07 06:59] jneidel commented on #489
We only accept PRs. Feel free to reopen this as a PR submitting the app in the correct category.

[2021-12-07 06:59] #489 closed

[2021-12-07 14:05] #493 closed

[2022-01-10 23:10] jneidel opened #503 "Refactor in HTTP Category"
Refactor HTTP apps from Web Development into own HTTP Category

[2022-06-28 08:20] jneidel opened #514 "Create PRs from CCC talk"
[Talk on modern command-line apps](https://yewtu.be/watch?v=uEEHq6f8RsM) (in german).

Describes an gives a demo for all the apps. Create PRs for relevant ones.

- [ ] xsv
- [ ] gron
- [ ] jc
- [ ] fx
- [ ] bat
- [ ] ccat
- [ ] delta
- [ ] diff-so-fanc
- [ ] δyƒƒ
- [ ] skim
- [ ] choose
- [ ] sd
- [ ] map
- [ ] xonsh
- [ ] crush
- [ ] xxh
- [ ] starship
- [ ] ohmyposh
- [ ] q
- [ ] gping
- [ ] iop

[2022-07-23 05:09] alfiankan opened #518 "Add Back To Top Button"
I found myself jumping between sections inefficiently, maybe adding back to top button will be good
like https://github.com/avelino/awesome-go

<img width="907" alt="Screen Shot 2022-07-23 at 12 06 17" src="https://user-images.githubusercontent.com/40946917/180591313-bcb5fe38-6ee3-4aa1-8dc9-a5742e0b100b.png">

[2022-07-25 09:21] jneidel commented on #518
You have access to the TOC over via the menu button at the top left of the readme.

<img width="896" alt="Screenshot 2022-07-25 at 11 17 58" src="https://user-images.githubusercontent.com/25589715/180742935-f07b738e-6a5c-4e5b-9f01-2ff0f0b5f559.png">

Personally I also have plugin (surfingkeys for vim bindings) which allows me to go to the top of the page.

Adding these will lead to inconsistencies

[2022-07-25 09:21] #518 closed

[2022-09-28 03:38] FinallyFinancialFreedom opened #531 "lazygit is worth to list"

[2022-10-02 11:51] jneidel commented on #531
So add it to the list in a PR 😃
We don't consider Issues any more.

[2022-10-02 11:51] #531 closed

[2022-11-18 04:53] wmealing opened #541 "Books on writing CLI/TUI apps"
I don't know if there is any, but a section on designing usable TUI apps would be nice to have.  I don't know of any and my search on the topic had lead me here.

If you know of any, this might be a good place to put links to them.

[2022-11-18 21:12] jneidel commented on #541
I'm gonna be writing my bachelors thesis on something along those lines soon. I could add a section with my sources and research to the list afterwards :smile: